@model CarrinhoViewModel
@{
    var itens = Model.Itens;
    var pedidoId = Model.PedidoId;
}

<div>
    <table style="margin: auto">
        <th style="padding: 20px">
            <td style="padding: 20px">Nome do evento</td>
            <td style="padding: 20px">Quantidade</td>
            <td style="padding: 20px">Preço Unidade</td>
            <td style="padding: 20px">Subtotal</td>
        </th>
        @{
            decimal total = 0;
        }
        @foreach (var item in itens)
        {
            
            <tr style="padding: 20px" item-id="@item.Id">
                <td style="padding: 20px">@item.Evento.Nome</td>
                <td style="padding: 20px">
                    <button onclick="carrinho.clickMenos(this)" style="font-size: 20px">-</button>
                        <input item-qtd value="@item.Quantidade" onblur="carrinho.updateQuantidade(this)">
                    <button onclick="carrinho.clickMais(this)" style="font-size: 20px">+</button>
                </td>
                <td style="padding: 20px">@item.PrecoUnidade</td>
                @{
                    var subtotal = item.PrecoUnidade * item.Quantidade;
                    total += subtotal;
                }
                <td style="padding: 20px" subtotal>@subtotal</td>
            </tr>

        }
    </table>
    <p style="margin-left: 70%" total>Total: @total.ToString("N2")</p>
    <a asp-action="AddHistorico" asp-route-id="@pedidoId"><button class="btn btn-success">Finalizar Compra</button></a>
</div>

@section Scripts{
    <script src="~/js/carrinho.js">
        
    </script>
}