@model Historico
@{
    var itemPedidoRepository = ViewBag.itemPedidoRepository;
    var eventoRepository = ViewBag.eventoRepository;
    var pedidos = Model.Pedidos;
}
<h3>Histórico</h3>

@foreach (var pedido in pedidos)
{
    <div>

        <h4>Pedido nº @pedido.Id</h4>
        @{
            var itens = itemPedidoRepository.GetItensPeloPedidoId(pedido.Id);
        }

        <table style="margin: auto">
        <th style="padding: 20px">
            <td style="padding: 20px">Nome do evento</td>
            <td style="padding: 20px">Quantidade</td>
            <td style="padding: 20px">Preço Unidade</td>
        </th>
        @{
            decimal total = 0;
        }
        @foreach (var item in itens)
        {
            
            <tr style="padding: 20px">
                <td style="padding: 20px">@eventoRepository.GetEventoPeloId(item.EventoId).Nome</td>
                <td style="padding: 20px">@item.Quantidade</td>
                <td style="padding: 20px">@item.PrecoUnidade</td>
                @{
                    total += item.PrecoUnidade * item.Quantidade;
                }
            </tr>
            
        }
        </table>
        <p style="margin-left: 70%">Total: @total.ToString("N2")</p>

    </div>
    
}