@model Evento

@{
    var casas = ViewBag.casas;
    var eventos = ViewBag.eventos;

    var teste = ViewBag.evento;
}
@if(teste != null){
    <p>CasaDeShowId @teste.CasaDeShowId Nome @teste.Nome </p>
}
<h3>Criar Evento</h3>

<div>
    <div>
        @{
            // required oninvalid="this.setCustomValidity('Informe o campo')"
            // oninput ="try{setCustomValidity('')catch(e){}"
        }
        <form class="panel-body" asp-action="AddEvento">
            <div class="form-group">
                <label class="control-lavel">Nome<input asp-for="@Model.Nome" type="text" class="form-control" id="nomeEvento" placeHolder="Linkin Park" required></label>
                <label class="control-lavel">Data<input asp-for="@Model.Data" type="date" class="form-control" id="dataEvento"></label>
                <label class="control-lavel">Preço da Entrada (R$)<input asp-for="@Model.Preco" type="number" class="form-control" id="precoEvento" placeHolder="200,00"></label>
                <label class="control-lavel">Genero<select asp-for="@Model.Genero" class="form-control sigle-select" id="generoEvento">
                    <option selected value="">[Selecione o gênero]</option>
                    <option value="Rock">Rock</option>
                    <option value="Sertanejo">Sertanejo</option>
                    <option value="Indie">Índie</option>
                </select></label>
                <label class="control-lavel">Casa<select asp-for="@Model.CasaDeShowId" class="form-control sigle-select" id="casaEvento">
                    <option selected value="-1">[Selecione a casa]</option>
                    @foreach (var casa in casas)
                    {
                        <option value="@casa.Id">@casa.Nome</option>
                    }
                </select></label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    Criar
                </button>
            </div>
        </form>
    </div>

    <div>
        <table class="tabela">
            @foreach (var evento in eventos)
            {
                <tr>
                    <td>
                        @evento.Nome
                    </td>
                    <td>
                        @evento.Data
                    </td>
                    <td>
                        @evento.Preco
                    </td>
                    <td>
                        @evento.Genero
                    </td>
                    <td>
                        @evento.CasaDeShow.Nome
                    </td>
                    <td>
                        <button class="btn btn-primary">Editar</button>
                    </td>
                    <td>
                        <button class="btn btn-danger">Excluir</button>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>