@{
    var casaDeShowRepository = ViewBag.casaDeShowRepository;
    var historicoRepository = ViewBag.historicoRepository;
    var eventoRepository = ViewBag.eventoRepository;

    var eventos = eventoRepository.GetEventos();
}

<h3>Eventos</h3>
<div>
    @foreach (var evento in eventos)
    {
        <table class="tabela">
            <tr>
                <td>
                    <a asp-action="Evento" asp-route-id="@evento.Id">@evento.Nome</a>
                </td>
                <td>
                    @evento.Data
                </td>
                <td>
                    @evento.Preco
                </td>
                <td>
                    @evento.Genero
                </td>
                <td>
                    @{
                        var casa = casaDeShowRepository.GetCasaPeloId(evento.CasaDeShowId);
                    }
                    @casa.Nome
                </td>
                <td>
                    @{
                        var quantidadeVendida = historicoRepository.CalculaIngressosVendidosPeloEventoId(evento.Id);
                        int ingressosDisponiveis = casa.Capacidade - quantidadeVendida;
                    }
                    @ingressosDisponiveis ingressos disponíveis.
                </td>
            </tr>
        </table>
        
    }
</div>