@model CasaDeShow
@{
    var casa = Model;
}
@if(casa.PathImage == null){
    <img width="300px" src="/Arquivos/Images/default.png">
}
else{
    <img width="300px" src="@casa.PathImage">
}

<h2>@casa.Nome</h2>
<h5>@casa.Endereco</h5>
<h5>Capacidade: @casa.Capacidade</h5>

<h3>Eventos</h3>

@{
    var historicoRepository = ViewBag.historicoRepository;

    var eventos = Model.Eventos;
}
<div>
    @foreach (var evento in eventos)
    {
        <table class="tabela">
            <tr>
                <td>
                    <a asp-controller="Evento" asp-action="Evento" asp-route-id="@evento.Id">@evento.Nome</a>
                </td>
                <td>
                    @evento.Data
                </td>
                <td>
                    @evento.Preco
                </td>
                <td>
                    @evento.Genero
                </td>
                <td>
                    @{
                        var quantidadeVendida = historicoRepository.CalculaIngressosVendidosPeloEventoId(evento.Id);
                        int ingressosDisponiveis = casa.Capacidade - quantidadeVendida;
                    }
                    @ingressosDisponiveis ingressos disponíveis.
                </td>
            </tr>
        </table>
        
    }
</div>