@model CasaDeShow
@{
    var casa = Model;
}
<h2>@casa.Nome</h2>
<h5>@casa.Endereco</h5>
<h5>Capacidade: @casa.Capacidade</h5>

<h3>Eventos</h3>

@{
    var itemPedidoRepository = ViewBag.itemPedidoRepository;
    var eventoRepository = ViewBag.eventoRepository;

    var eventos = eventoRepository.GetEventos();
}
<div>
    @foreach (var evento in eventos)
    {
        <table class="tabela">
            <tr>
                <td>
                    <a asp-controller="Evento" asp-action="Evento" asp-route-id="@evento.Id">@evento.Nome</a>
                </td>
                <td>
                    @evento.Data
                </td>
                <td>
                    @evento.Preco
                </td>
                <td>
                    @evento.Genero
                </td>
                <td>
                    @{
                        var quantidadeVendida = itemPedidoRepository.SomaQuantidadePedidosPeloEventoId(evento.Id);
                        int ingressosDisponiveis = casa.Capacidade - quantidadeVendida;
                    }
                    @ingressosDisponiveis ingressos disponíveis.
                </td>
            </tr>
        </table>
        
    }
</div>